
.search{
    height: 450px;
    
}
.rech{
    background-image: url("https://images.unsplash.com/photo-1558976825-6b1b03a03719?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fGhvdGVsfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   height: 450px;
width: 100%;


}
.rech h1{
    color: white;
    text-align: center;
    padding-top: 15%;  
}
.cards{
    width:89%;
    padding-left: 140px;
    /* padding-right: 80%; */
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    /* text-align: center; */
    padding-top: 5%;
    /* height: 100%; */
}

.dates{
    display: flex;
    justify-content: center;
    /* align-items: center; */
justify-content: space;
}
.reechbtn{
    display: flex;
    justify-content: center ;
    /* align-items: center; */
    /* padding: 10px 30px; */
    /* padding-left: 40%; */
    /* padding-right: 40%; */
}
