
.search{
    height: 450px;
    
}
.rech{
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   



}
.rech h1{
    color: white;
    text-align: center;
    padding-top: 15%;  
}
.cards{
    width: 100%;
    padding-left: 140px;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
    text-align: center;
}
.ava{
    background-color: aqua;
    width: 350px;
    height: 80px;
    display: block;
}